.App {
  text-align: center;
}

.form-group {
  margin: 34px;
}

.form-group #name {
  position: relative;
  left: -75px;
  color: dodgerblue;
}

.form-group #email {
  position: relative;
  left: -76px;
  color: dodgerblue;
}

.form-group #password {
  position: relative;
  left: -61px;
  color: dodgerblue;
}


